<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>date of observaton</h1>
<form action="/generate" method="POST">
    <input type="text" name="fozi_b3Ar" placeholder="date">
    <button type="submit">Submit</button>
</form>
<label for="birthday">Select your birthday:</label>
        <input 
            type="date" 
            id="birthday" 
            name="birthday" 
            required 
            min="1900-01-01" 
            max="2026-12-31">
        
        <button type="submit">Submit</button>
</body>
</html>

